<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./demo.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@1.4/lib/theme-default/index.css">
</head>

<body>

	<div id="app">
		<div id="left">

			<!-- 通信方式 start -->
			<el-tag type="info">通信方式</el-tag>
			<div class="border info">
				<div class="line">
					<span>串口通信 串口号:</span>
					<el-select v-model="value" size="mini" style="width:60px">
						<el-option v-for="item in options" :key="item.value" :disabled="gorgeType?false:true" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
					<el-button @click="gorge" :type="gorgeType?'success':'danger'" size="mini">{{gorgeType?'串口开':'串口关'}} </el-button>
				</div>
				<div class="line">
					<span>网络通信</span>
					<input :disabled="portType?false:true" placeholder="请输入内容"></input>
					<el-button @click="set_port" :type="portType?'success':'danger'" size="mini">{{portType?'网络开':'网络关'}} </el-button>
				</div>
			</div>
			<!-- 通信方式 end -->

			<!-- 自动对星 start -->
			<el-tag type="info">自动对星操作</el-tag>
			<div class="border start">
				<div class="line title">第一步 确认GPS信息</div>
				<div class="line">
					<label>经度</label>
					<input type="text" class="mr">
					<label>区域</label>
					<el-select v-model="value" size="mini" style="width:60px">
						<el-option v-for="item in options" :key="item.value" :disabled="gorgeType?false:true" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
				</div>
				<div class="line">
					<label>纬度</label>
					<input type="text" class="mr">
					<label>位置</label>
					<el-select v-model="value" size="mini" style="width:60px">
						<el-option v-for="item in options" :key="item.value" :disabled="gorgeType?false:true" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
				</div>
				<hr>
				<div class="line title">第二步 设置卫星参数</div>
				<div class="line">
					<label>卫星名称:</label>
					<el-select class="mr" v-model="value" size="mini" style="width:60px">
						<el-option v-for="item in options" :key="item.value" :disabled="gorgeType?false:true" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
					<label>卫星经度:</label>
					<input type="text">
				</div>
				<div class="line">
					<label>极化方式:</label>
					<el-select class="mr" v-model="value" size="mini" style="width:60px">
						<el-option v-for="item in options" :key="item.value" :disabled="gorgeType?false:true" :label="item.label" :value="item.value">
						</el-option>
					</el-select>
					<label>卫星频率:</label>
					<input type="text">
				</div>
				<hr>
				<!-- 自动寻星 -->
				<div class="line title">第三步 自动寻星</div>
				<el-button type="primary" icon="el-icon-search">寻星</el-button>
				<el-button type="primary" icon="el-icon-star-on">收藏</el-button>
			</div>
			<!-- 自动对星 end -->
		</div>
		<div id="right">
		</div>
		<div class="footer">
			<el-tabs v-model="initTab" >
				<el-tab-pane label="停止运动" name="first">停止运动</el-tab-pane>
				<el-tab-pane label="手动控制关" name="second">手动控制关</el-tab-pane>
				<el-tab-pane label="卫星数据库" name="third">卫星数据库</el-tab-pane>
				<el-tab-pane label="寻星精灵" name="fourth">寻星精灵</el-tab-pane>
				<el-tab-pane label="高级功能" name="gj">高级功能</el-tab-pane>
			</el-tabs>
		</div>
	</div>
	</script>
	<script src="vue.js"></script>
	<script src="https://unpkg.com/element-ui@1.4/lib/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					initTab:'first',
					gorgeType: true,
					port: '192.168.0.102',
					portType: true,
					options: [{
						value: '1',
						label: '1'
					}],
					value: 1
				}
			},
			methods: {
				gorge() {
					this.gorgeType = !this.gorgeType
				},
				set_port() {
					this.portType = !this.portType
				}
			},
			created() {

			}
		})
	</script>

</body>

</html>